# Ignore all contents of the data folder
data/*

# Optional: Allow specific files or subfolders inside data
# Uncomment the lines below if needed:
# !data/important_file.txt
# !data/subfolder/
VectorStore/*


# Allow the data folder itself
!data/

!VectorStore/